@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    src: url("./thin.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    src: url("./extralight.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("./light.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./medium.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("./semibold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./bold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: url("./extrabold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("./black.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 100;
    src: url("./thinitalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 200;
    src: url("./extralightitalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    src: url("./lightitalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    src: url("./regularitalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src: url("./mediumitalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    src: url("./semibolditalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    src: url("./bolditalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    src: url("./extrabolditalic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    src: url("./blackitalic.woff2") format("woff2");
}